.Calculator {
  background-color: rgb(13, 143, 100);
  width: 70%;
  margin: auto;
  padding: 50px;
  border-radius: 9px;
  box-shadow: 10px 20px 60px black;
}
.Calculator:hover {
  background-color: rgb(25, 84, 139);
}
.Calculator h1{
border-bottom: 5px solid yellow;
}


.Calculator button{
    background-color: rgb(194, 197, 19);
    outline: none;
    border: none;
    padding: 9px 25px;
    border-radius: 2px;
    box-shadow: 10px 20px 60px black;
    cursor:pointer;

  }
.Calculator button:hover{
background-color: fuchsia;
}

   
.Calculator input {
  background-color: rgb(164, 208, 209);
  padding: 3px;
  font-size: 1.2rem;
  border-radius: 5px;
  outline: none;
  border: none;
}
 